<%= form_with(model: @visit) do |form| %>
  <% if @visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vizit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
        <% @visit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>

  <div class="field">
    <%= form.label :patient? %>
    <%= form.text_field :fullname %>
  </div>

  <div class="field">
    <%= form.label :choose_doctor? %>
    <%= form.text_field :doctor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>