<%= form_with(model: @visit) do |form| %>
  <% if @visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vizit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
        <% @visit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :choose_doctor_category %>
    <%= collection_select(
      :user, :category_id, Category.all, :id, :speciality, { prompt: true }
    ) %>
  </div>

  <div class="field">
    <%= form.label :choose_doctor_in_the_category? %>
    <%= collection_select(
      :user, :user_id, User.all, :id, :fullname, { prompt: true }
    ) %>
  </div>


  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :patient %>
    <%= current_user.fullname %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', root_path %>