<h1>Users list</h1>
<ul>
<% @users.each do |user| %>
  <li><%= link_to user_path(user) do %>
        <%= user.fullname %>
      <% end %> ||
      <%= user.mobile_no %> ||
      <%= show_role(user) %> ||
      <%= show_category(user) %> ||
  </li>
<% end %>
</ul>

<%= link_to "Sign out", destroy_user_session_path, method: :delete %>